/*

Style usage :


<span class="notification">
    Your notifications
    <span class="number">13</span>
</span>


*/

.notification
{
    position: relative;
    width: max-content;
}

each(@colors, .(@color, @name) {
    .notification.@{name}
    {
        --notification-color: @color;
        --notification-shadow: fade(@color, .2);
        --notification-text: contrast(@color, @fg, @bg);
    }
})

.notification[count]
{
    margin-right: .25em;
}

.notification[count]::after
{
    content: attr(count);

    position: absolute;
    right: 0em;
    top: 0em;
    transform: translate(50%, -35%);
    font-size: .8rem;
    font-weight: bold;

    color: var(--notification-text);
    background-color: var(--notification-color);
    box-shadow: 0px 3px 10px var(--notification-shadow) ;

    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}