details
{
    --details-background: var(--bg);
    --details-foreground: var(--fg);
    --details-border: var(--stealth);

    position: relative;
    padding: .5em .75em;
    width: 100%;
    border: solid 1px var(--details-border);
    border-radius: 4px;
    border-left: .33em var(--details-border) solid;

    background-color: var(--details-background);
}

details summary
{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    font-size: .9em;

    display: flex;
    align-items: center;
    gap: @default-container-padding;
    padding-right: 2em;
    color: var(--details-foreground);
}

details summary img
{
    width: 1.5em;
}

details summary + *
{
    margin-top: 1em;
}

// Still needed for some browser
details > summary::-webkit-details-marker
{
    display: none;
}

details > summary::after
{
    content: '+';
    font-weight: 600;
    position: absolute;
    right: .5em;
    font-size: 1.5em;
    transition: all 200ms ease;
    transform-origin: 50% 50%;
    cursor: pointer;
    color: var(--details-foreground);
}

details[open] > summary::after
{
    transform: rotate(45deg);
}


each(@colors, .(@color, @name){
    details.@{name} {
        --details-background: rgba(@color, .3);
        --details-foreground: @color;
        --details-border: fade(@color, 60);
    }
})